<div id="message-{{id}}" class="comment">
    <strong class="comment-author">{{username}}</strong>
    <p class="comment-date">{{formatDate createdAt}}</p>
    <span class="comment-text">{{text}}</span>
</div>