<form class="general" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
    <head>Login</head>
    <br>
    <br>
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br><br>
    <button type="submit">Submit</button>
    <br><br>
    <a href="forgotpassword">Forgot your password?</a>
</form>